In [1]:
import numpy as np
import pandas as pd

### Imputting the data

In [4]:
Group = pd.read_csv('/Users/kendrarhoades/Desktop/Data Science/DSO110 Final Project/Code/Group.csv')

In [5]:
Group

,Time,Latitude,Longitude,Sea Ice Freeboard,Sea Ice Thickness,Month/Day
0,130352017,-74.753986,329.07295,0.306041,0.725051,NaN
1,130352017,-74.755459,329.07135,0.438596,1.039091,NaN
2,130352017,-74.756936,329.06974,0.238436,0.564885,NaN
3,130352017,-74.758417,329.06813,0.369677,0.875811,NaN
4,130352017,-74.762884,329.06329,0.218586,0.517859,NaN
...,...,...,...,...,...,...
1728972,153184663,-76.503334,318.42566,0.990996,2.549416,NaN
1728973,153184663,-76.501866,318.42358,1.276437,3.283738,NaN
1728974,153184663,-76.500400,318.42151,1.428083,3.673859,NaN
1728975,153184663,-76.494533,318.41329,1.360559,3.500149,NaN
1728976,153184663,-76.493065,318.41125,1.151211,2.961583,NaN

In [6]:
GroupA = pd.read_csv('/Users/kendrarhoades/Desktop/Data Science/DSO110 Final Project/Code/GroupA.csv')

In [7]:
GroupA

,Time,Latitude,Longitude,Sea Ice Freeboard,Sea Ice Thickness,Month/Day
0,226939521,-75.892572,185.46385,0.058175,0.137825,NaN
1,226939521,-75.895496,185.45998,0.073006,0.172960,NaN
2,226939521,-75.896958,185.45806,0.003298,0.007813,NaN
3,226939521,-75.901341,185.45238,0.037130,0.087966,NaN
4,226939521,-75.904272,185.44865,0.110433,0.261630,NaN
...,...,...,...,...,...,...
997686,259400745,-68.204985,316.86492,0.504868,1.196096,NaN
997687,259400745,-68.203472,316.86404,0.278338,0.659418,NaN
997688,259400745,-68.201960,316.86316,0.436133,1.033254,NaN
997689,259400745,-68.200447,316.86229,0.207124,0.490704,NaN
997690,259400745,-68.198933,316.86142,0.377777,0.895002,NaN

### Working on changing the UTC time to Year/Month/Day HH:MM:SS

In [25]:
import datetime 
from datetime import datetime
from datetime import date, time

In [32]:
Group['Month/Day'] = pd.to_datetime(Group['Time'],  unit='s', origin='2000-01-01')

#### unit = seconds (D,s,ms,us,ns) origin(when UTC is 0) = unix(1970-01-01), julian (unit must be D) starts noon 01-01-4713

In [33]:
Group

,Time,Latitude,Longitude,Sea Ice Freeboard,Sea Ice Thickness,Month/Day
0,130352017,-74.753986,329.07295,0.306041,0.725051,2004-02-17 16:53:37
1,130352017,-74.755459,329.07135,0.438596,1.039091,2004-02-17 16:53:37
2,130352017,-74.756936,329.06974,0.238436,0.564885,2004-02-17 16:53:37
3,130352017,-74.758417,329.06813,0.369677,0.875811,2004-02-17 16:53:37
4,130352017,-74.762884,329.06329,0.218586,0.517859,2004-02-17 16:53:37
...,...,...,...,...,...,...
1728972,153184663,-76.503334,318.42566,0.990996,2.549416,2004-11-07 23:17:43
1728973,153184663,-76.501866,318.42358,1.276437,3.283738,2004-11-07 23:17:43
1728974,153184663,-76.500400,318.42151,1.428083,3.673859,2004-11-07 23:17:43
1728975,153184663,-76.494533,318.41329,1.360559,3.500149,2004-11-07 23:17:43
1728976,153184663,-76.493065,318.41125,1.151211,2.961583,2004-11-07 23:17:43

In [34]:
GroupA['Month/Day'] = pd.to_datetime(GroupA['Time'], unit='s', origin='2001-01-01')

In [35]:
GroupA

,Time,Latitude,Longitude,Sea Ice Freeboard,Sea Ice Thickness,Month/Day
0,226939521,-75.892572,185.46385,0.058175,0.137825,2008-03-11 14:45:21
1,226939521,-75.895496,185.45998,0.073006,0.172960,2008-03-11 14:45:21
2,226939521,-75.896958,185.45806,0.003298,0.007813,2008-03-11 14:45:21
3,226939521,-75.901341,185.45238,0.037130,0.087966,2008-03-11 14:45:21
4,226939521,-75.904272,185.44865,0.110433,0.261630,2008-03-11 14:45:21
...,...,...,...,...,...,...
997686,259400745,-68.204985,316.86492,0.504868,1.196096,2009-03-22 07:45:45
997687,259400745,-68.203472,316.86404,0.278338,0.659418,2009-03-22 07:45:45
997688,259400745,-68.201960,316.86316,0.436133,1.033254,2009-03-22 07:45:45
997689,259400745,-68.200447,316.86229,0.207124,0.490704,2009-03-22 07:45:45
997690,259400745,-68.198933,316.86142,0.377777,0.895002,2009-03-22 07:45:45

### Changing column name

In [36]:
Group = Group.rename(columns={'Month/Day': 'Year/Month/Day HH:MM:SS'})

In [37]:
Group

,Time,Latitude,Longitude,Sea Ice Freeboard,Sea Ice Thickness,Year/Month/Day HH:MM:SS
0,130352017,-74.753986,329.07295,0.306041,0.725051,2004-02-17 16:53:37
1,130352017,-74.755459,329.07135,0.438596,1.039091,2004-02-17 16:53:37
2,130352017,-74.756936,329.06974,0.238436,0.564885,2004-02-17 16:53:37
3,130352017,-74.758417,329.06813,0.369677,0.875811,2004-02-17 16:53:37
4,130352017,-74.762884,329.06329,0.218586,0.517859,2004-02-17 16:53:37
...,...,...,...,...,...,...
1728972,153184663,-76.503334,318.42566,0.990996,2.549416,2004-11-07 23:17:43
1728973,153184663,-76.501866,318.42358,1.276437,3.283738,2004-11-07 23:17:43
1728974,153184663,-76.500400,318.42151,1.428083,3.673859,2004-11-07 23:17:43
1728975,153184663,-76.494533,318.41329,1.360559,3.500149,2004-11-07 23:17:43
1728976,153184663,-76.493065,318.41125,1.151211,2.961583,2004-11-07 23:17:43

In [39]:
GroupA = GroupA.rename(columns={'Month/Day': 'Year/Month/Day HH:MM:SS'})
GroupA

,Time,Latitude,Longitude,Sea Ice Freeboard,Sea Ice Thickness,Year/Month/Day HH:MM:SS
0,226939521,-75.892572,185.46385,0.058175,0.137825,2008-03-11 14:45:21
1,226939521,-75.895496,185.45998,0.073006,0.172960,2008-03-11 14:45:21
2,226939521,-75.896958,185.45806,0.003298,0.007813,2008-03-11 14:45:21
3,226939521,-75.901341,185.45238,0.037130,0.087966,2008-03-11 14:45:21
4,226939521,-75.904272,185.44865,0.110433,0.261630,2008-03-11 14:45:21
...,...,...,...,...,...,...
997686,259400745,-68.204985,316.86492,0.504868,1.196096,2009-03-22 07:45:45
997687,259400745,-68.203472,316.86404,0.278338,0.659418,2009-03-22 07:45:45
997688,259400745,-68.201960,316.86316,0.436133,1.033254,2009-03-22 07:45:45
997689,259400745,-68.200447,316.86229,0.207124,0.490704,2009-03-22 07:45:45
997690,259400745,-68.198933,316.86142,0.377777,0.895002,2009-03-22 07:45:45